.grid {
  display: block;
  width: 100%;
  padding: 2rem 1rem;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1400px;
  overflow-x: hidden;

  @media (min-width: 768px) {
    padding: 2rem;
  }
}
